article {
    box-sizing: border-box;
    width: 800px;
    background-color: rgb(205, 230, 255);
    padding: 20px;
    margin: auto;
    overflow: auto;
}
h1 {
    color: rgb(232, 150, 78);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
}
#firstpara {
    color: rgb(54, 96, 232);
    font-size: 22px;
    margin: 20px;
    line-height: 1.3em;
}
#secondpara {
    display: inline-block;
    color: rgb(232, 150, 78);
    font-size: 50px;
}
#flower {
    display: inline-block;
    padding-right: 20px;
    padding-left: 10px;
}
hr {
    border-bottom: 4px solid rgb(255, 255, 248);
    border-style: groove;
}
#paratwo {
    border-bottom: 2px solid white;
}
img {
    margin-left: -20px;
}
.main p:nth-child(1n+2) {
    padding-left: 50px;
    padding-top: 15px;
    font-size: 1.2em;
}
#sidebarText {
    font-size: 28px;
    color: rgb(147, 206, 255);
}

.sidebar{
    height: 1652px;
}
